/*start variabuls*/
:root{
    --maain-color: #10cab7;
    --secondary-color:#2c4755;
    --section-padding:  60px;
    --section-color:#f6f6f6;
}
/*end variabuls*/
/*start global rouls*/
html{
    scroll-behavior: smooth;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.body{
    font-family: "work sans", sans-serif;
}

.parent { 
    margin: auto;
    
}
.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto; 

}
/*small*/
@media(min-width:768px){
    .container{ 
        width: 750px;
    }
}
/*medium*/
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
/*large*/
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
/*end global rouls*/
/*start combonants*/
.speachial-headding{
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3;
    color: #ebeced;
    margin: 0;

}
.speachial-headding + p {
    margin: -30px 0 0;
    font-size: 20px;
    color: rgb(97, 97, 102);
    text-align: center;
}
@media( max-width: 767px){
    .speachial-headding{
        font-size: 60px;
        
    }
    .speachial-headding + p{
        margin: -20;
    }
}
/*end combonants*/

/*start header*/
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    margin-bottom: 5px;
    background-color: #222;

}
.header .links .icon span:first-child{
    height:2px ;
    width: 100%;

}
.header .links .icon span:nth-child(2){
   height: 2px;
   width: 60%;
   transition: 0.3s;
}
.header .links .icon span:last-child{
    height: 2px;
    width: 100%;
}
.header .links ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    background-color: var(--section-color);
    position: absolute;
    right: 0%;
    min-width: 200px;
    top: calc(100% + 20px);
    display: none;
    z-index: 1;
    

}
.header .links ul::before{
    content: "";
    border-width:10px ;
    border-style: solid;
    border-color: transparent transparent var(--section-color) transparent;
    position: absolute;
    right: 5px;
    top:-20px;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
/*end header*/
/*start landing section*/
.landing{
  background-image: url(../imges/montain.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
  text-align: center;
 
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 100%;
    width: 320px;


}
.landing .intro-text h1 {
    margin: 0%;
    font-weight: bold;
    font-size: 50px;
    color: var(--maain-color);
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
    color :white;
}
/*end landing section */
/*start features*/
.features{
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
    background-color: var(--section-color);

}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 20px;
}
.features .feet {
    padding: 20px;
    text-align: center;

}
.features .feet i{
  color: var(--maain-color);
  font-size: 40px;
}
.features .feet h3{
font-weight: 800;
margin: 30px 0;
}
.features .feet p{
line-height: 1.8;
color: #777;
font-size: 18px;
}
/*end features*/
/* start service */
.serveces{
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding)
}
.serveces .serveces-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.serveces .serveces-content .srv{
    display: flex;
    margin-bottom: 40px;
}
@media(max-width:767px){
    .serveces .serveces-content .srv{
        flex-direction: column;
        text-align: center;
    }
}
.serveces .serveces-content .srv i {
    font-size: 30px;
    color: var(--maain-color);
    flex-basis: 60px;
}
.serveces .serveces-content .srv .text {
    flex: 1;
}
.serveces .serveces-content .srv .text h3{
margin: 0 0 20px;
}
.serveces .serveces-content .srv .text p{
color: #666;
font-weight: 300;
line-height: 1.6;
}
.serveces .serveces-content .image {
  text-align: center; 
   position: relative;
}
.serveces .serveces-content .image::before{
    content:"";
    background-color: var(--secondary-color);
    top:-50px;
    width: 100px;
    height:calc(100% + 100px);
    position: absolute;
    z-index: -1;
    right: 0;
}
.serveces .serveces-content .image img {
    width: 270px;
    height: 300px;
}
@media(max-width:1120px){
    .image-column{
        display: none;
    }
}
/* end services */
/* start portfolio  */
.portfolio{
 padding-bottom: var(--section-padding);
padding-top: var(--section-padding);
 background-color: var(--section-color);
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.portfolio .portfolio-content .card {
 background-color: white;
}

.portfolio .portfolio-content .card img{
    max-width: 100%;
}

.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card  h3{
    margin: 0px;
}

.portfolio .portfolio-content .card p{
    font-style: italic;
    color: #777;
    line-height: 1.6;
}
/* end portfolio  */
/* start about  */
.about{
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .about-content .image {
    height: 296px;
    width: 480px;
    position: relative;
}
.about .about-content .image::before{
    content: "";
    position: absolute;
    height: 260px;
    background-color:rgb(140, 144, 151) ;
    width: 70px;
    top: -40px;
    z-index: -1;
    left: -20px;
}
.about .about-content .image::after{
    content: "";
    position: absolute;
    height:130px ;
    width: 60px;
    border-left:70px solid var(--maain-color) ;
    border-bottom: 70px solid var(--maain-color);
    top: -40px;
    z-index: -1;
    right: 109px;
}
.about .about-content .text {
  flex: 1;
  padding-left: 20px;
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 30px;
    margin-top: 0%;
}
.about .about-content .text hr {
border-color: var(--maain-color);
border-width: revert;
width: 50%;
display: inline-block;
margin: 0%;
}
.about .about-content .text p:last-of-type {
color:#777;

}
/* end about  */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
  }
  .contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
  }
  .contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
  }
  .contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--maain-color);
    text-decoration: none;
  }
  .contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
  }
  .contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
  }
  @media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
      font-size: 25px;
    }
  }
  /* End Contact */
  /* Start Footer */
  .footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
  }
  .footer span {
    font-weight: bold;
    color: var(--maain-color);
  }

  /* End Footer */